<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/forgotnew.css">
    <title>Document</title>
</head>
<body>
    <div class="forgot">
    <form id="form" class="form" action="/forgotnewvalue" method="post" onsubmit="return forval()">
    <h3>Recover Password</h3>
        <input type="email" value="<%=glo%>" class="box" id="email" name="email" onkeyup="validateemail()">
        <small id="input1"></small>
        <input type="password" placeholder="New password" class="box" id="pass" name="pass" onkeyup="validatepass()">
        <small id="input2"></small>
        <input type="password" placeholder="Confirm password" class="box" id="confirmpass" name="confirmpass" onkeyup="validatecon()">
        <small id="input3"></small><br>
        <button type="submit" class="book">Change Password</button>
    </form>
    </div>

    <script>
        const email=document.getElementById("email");
        const password=document.getElementById("pass");
        const confirm1=document.getElementById("confirmpass");
        var count=0;
         const valid = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
        function validateemail(){
            const emailval=email.value;
            if(emailval==""){
                email.style.border="2px solid red";
                document.getElementById("input1").innerHTML="Enter Email ID";
                document.getElementById("input1").style.color="Red";
            }
            else if(!valid.test(emailval)){
            email.style.border="2px solid red";
            document.getElementById("input1").innerHTML="Provide proper mail ID";
            document.getElementById("input1").style.color="Red";   
            }
            else{
            email.style.border="2px solid green";
            document.getElementById("input1").innerHTML="";
            return count++;
            }
        }
        function validatepass(){
            const passval=password.value;
            if(passval==""){
            password.style.border="2px solid red";
            document.getElementById("input2").innerHTML="Enter password";
            document.getElementById("input2").style.color="Red";  
            }
            else if(!PassCheck(password)){
            password.style.border="2px solid red";
            document.getElementById("input2").innerHTML="Kindly use special characters";
            document.getElementById("input2").style.color="Red";  
            }
            else{
            password.style.border="2px solid green";
            document.getElementById("input2").innerHTML="";
            return count++;
            }
            function PassCheck(){
                var count=0,count1=0,count2=0,count3=0;
                for(i=0;i<passval.length;i++){
                    const check=passval.charCodeAt(i);
                    if(check>=65 && check<=90)
                    {
                        count++;
                    }
                    else if(check>=97 && check<=122)
                    {
                        count1++;
                    }
                    else if(check>=48 && check<=57) {
                        count2++;
                    }
                    else if((check>=32 && check<=47) || (check>=58 && check<=64) || (check>=91 && check<=96) || (check>=123 && check<=126))
                    {
                        count3++;
                    }
                }
                 if(count>0 && count1>0 && count2>0 && count3>0)
                {
                    return true;
                }
                else {
                    return false;
                }
        }
        }
        function validatecon(){
            const confirmval=confirm1.value;
            const passval=password.value;
            if(confirmval==""){
            confirm1.style.border="2px solid red";
            document.getElementById("input3").innerHTML="Enter confirm password";
            document.getElementById("input3").style.color="Red";  
            }
            else if(passval!=confirmval){
            confirm1.style.border="2px solid red";
            document.getElementById("input3").innerHTML="Password mismatch";
            document.getElementById("input3").style.color="Red";  
            }
            else{
            confirm1.style.border="2px solid green";
            document.getElementById("input3").innerHTML="";
            return count++;
            }
        }
        function forval(){
            console.log("count is :"+count);
            if(count>=3){
                return true;
            }
            else{
                return false;
            }
        }
    </script>
</body>
</html>