<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/image/plug-solid.svg">
        <title>EV Mart</title>
      <link rel="stylesheet" href="/css/offers.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body>
    <section>
        <header class="header">
            <div id="menu-btn" class="fas fa-bars"></div>
            <a href="login page.html"> <img src="/image/EV-removebg.png" alt="EV Mart" class="Logo"></a>
         <nav class="navbar">
          <a href="login page.html">Home</a>
          <a href="#">Information</a>
          <a href="#">Services</a>
          <a href="#footer">Contact</a>
          <a href="/offers">Offers</a>
         <!-- <div id="drop-btn" class="fa-solid fa-caret-down"></div> -->
        </div>
         </nav>
         <div id="Button">
            <form action="/logout" method="post">
          <button class="book" onclick="logout()">Log-out</button>
          <a href="Profile page.html"><i class="fas fa-user"></i></a>
        <small id="small"><%=name%></small>
          
          </form>
          
         </div>
        </header>
    </section>
    <section class="offimg">
        <div>
          <h1>EV MART EXCHANGE PROGRAM</h1>
        </div>
        <div>
        <img src="/EV mart/offers.jpeg" alt="Switch to electric" title="Switch to electric">
      </div>
      <div>
        <h1>Switch to Electric</h1>
      </div>
      </section>
      <section class="displayoff">
        <div>
          <h1>Own the Vehicles with offers</h1>
        </div>
        <div class="grid">
          <div class="flex">
            <div>
            <img src="/EV mart/offer1.jpg" alt="OLA" title="OLA"></div>
          <div>  <h4>Get ₹8,000* off on the Ola S1 Pro!</h4></div>
          <div class="know"><a href="#">Know More<i class="fa-solid fa-motorcycle fa-shake"></i></a></div>
          </div>
          <div class="flex">
            <div>
            <img src="/EV mart/offer2.webp" alt="EV Mart Exchange" title="EV Mart Exchange"></div>
           <div> <h4>Upgrade your ride - Get ₹2,000* as Exchange Bonus</h4></div>
           <div class="know"><a routerLink="/offers/exchange">Know More<i class="fa-solid fa-motorcycle fa-shake"></i></a></div>
          </div>
          <div class="flex">
            <div>
            <img src="/EV mart/ather offer.webp" alt="Ather" title="Ather offer"></div>
           <div> <h4>Get ₹5,000* off on the Ather 550</h4></div>
           <div class="know"><a href="#">Know More<i class="fa-solid fa-motorcycle fa-shake"></i></a></div>
          </div>
        </div>
      </section>
      <section class="payment">
        <h1>Easy financing offers</h1>
        <div class="paygrid">
        <div class="payflex">
          <div id="first"><i class="fa-solid fa-indian-rupee-sign"></i><br><br><br><p>Own the Ola scooter for as low as ₹2499
            EMIs starting at ₹2499 per month</p></div>
          <div id="second"><i class="fa-solid fa-tags"></i><br><br><br><br><br><p>5% discount on credit card EMI of select banks</p></div>
        </div>
        <div class="payflex">
          <div id="first"><i class="fa-solid fa-hand-holding"></i><br><br><br><p>Zero down payment schemes</p></div>
          <div id="second"><i class="fa-solid fa-percent"></i><br><br><br><p>Zero worries with 0% processing fee
            Owning the Ola scooter is as easy as wanting it. Enjoy 0% processing fee on loans</p></div>
        </div>
        <div class="payflex">
          <div id="first"><i class="fa-solid fa-building-columns"></i><br><br><br><br><p>Zero worries with 0% processing fee
            Owning the Ola scooter is as easy as wanting it. Enjoy 0% processing fee on loans</p><br><br><br><br><br><br><br>
            <div class="imgflex"><div><img src="/EV mart/HDFC_Bank_Logo.jpg" alt="HDFC Logo" title="HDFC Logo"></div>
          <div><img src="/EV mart/axis bank.jpg" alt="Axis Bank" title="Axis Bank"></div>
        <div><img src="/EV mart/DBS-Bank-logo.png" alt="DBS Bank" title="DBS Bank"></div></div>
        </div>
        </div>
      </div>
      </section>
      <section class="displayslide" >
    
      </section>
      <section class="footer">
        <div class="box-container">
    <div class="box">
        <h3>our branches</h3>
            <a href="#"><i class="fas fa-map-marker-alt"></i>India</a>
            <!-- <a href="#"><i class="fas fa-map-marker-alt"></i>france</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>africa</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>russia</a> -->
    </div>
    
    <div class="box">
        <h3>quick links</h3>
            <a href="#"><i class="fas fa-arrow-right"></i>Home</a>
            <a href="#vehicles"><i class="fas fa-arrow-right"></i>Vehicles</a>
            <a href="#services"><i class="fas fa-arrow-right"></i>Services</a>
            <a href="#"><i class="fas fa-arrow-right"></i>Contact</a>
    </div>
    
    <div class="box">
        <h3>contact details</h3>
            <a href="#"><i class="fas fa-phone"></i>+91-7904925991</a>
            <a href="#"><i class="fas fa-phone"></i>+91-6374505526</a>
            <a href="mailto:jeevaaravinth2001@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></i>jeevaaravinth2001@gmail.com</a>
            <a href="mailto:electricveemart@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>electricveemart@gmail.com</a>
    </div>
    
    <div class="box">
        <h3>Social media</h3>
            <a href="https://www.facebook.com/profile.php?id=100090281825277&sk=about" target="_blank"><i class="fab fa-facebook-f"></i>Facebook</a>
            <a href="https://twitter.com/EVMart2023" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
            <a href="https://www.instagram.com/ev_mart2022" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
            <a href="https://www.linkedin.com/in/ev-mart-526859265/" target="_blank"><i class="fab fa-linkedin"></i>Linkedin</a>
            <a href= "mailto:jeevaaravinth2001@gmail.com" target="_blank"></a>
    </div>
        </div>
        <div class="credit">
            Created by Mr.Jeeva Aravinth J V | EV Mart
        </div>
    </section>
    
    
      <script>
         window.onscroll= () =>{
    if(window.scrollY > 0){
        document.querySelector('.header').classList.add('active');
    }
    else    {
        document.querySelector('.header').classList.remove('active');
    }
    menu.classList.remove('fa-times');
    navbar.classList.remove('active');
}
window.onload= () =>{
    if(window.scrollY > 0){
        document.querySelector('.header').classList.add('active');
    }
    else    {
        document.querySelector('.header').classList.remove('active');
    }
}
      </script>
</body>
</html>