<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/display revolt.css">
    <link rel="icon" href="image/plug-solid.svg">
    <title>Ather</title>
</head>
<body>
<div id="load">

</div>

    <section class="home">
        <div class="main">
        <div class="olaimg">
   <img src="/EV mart/heroelectric-nyx60f511a30f919.jpg" alt="ola">
</div>
<div class="topic">
   <h3 class="heading"><span>Hero Electric</span> NYX</h3>
   <table class="table">
    <tr>
        <th colspan="2">Specification Sheet</th>
    </tr>
    <tr>
        <td>ARAI range</td>
        <td>170km</td>
    </tr>
    <tr>
        <td>True range</td>
        <td>165km</td>
    </tr>
    <tr>
        <td>Top speed</td>
        <td>42kmph</td>
    </tr>
    <tr>
        <td>Hypermode</td>
        <td>Not included</td>
    </tr>
    <tr>
        <td>Drive type</td>
        <td>Hub Motor</td>
    </tr>
    <tr><td>Charging time</td>
    <td>4-5hrs</td></tr>
    <tr><td>Motor power</td>
    <td>600W</td></tr>
    <tr><td>Fast Charging</td>
    <td>No</td></tr>
   </table>
   <a href="/login" class="book">Continue</button>
</div>
</div>
    </section>
   

    <script>
        var loader=document.getElementById("load");
window.addEventListener("load",function(){
    loader.style.display="none";
})
    </script>
</body>
</html>